body {font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;}

header {background-color: #000;
    color: white;
    text-align: center;
    padding: 20px;}

h1 {font-family: "Rubik 80s Fade", system-ui;
    margin: 0; font-size: 4em;}

section {padding: 20px;}

img { width: 50%;
    height: auto;
    border-radius: 8px;
    float: left;}

.content {max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}

footer { background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;}
