/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.cv-container {
    background: #fff;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px; margin-top: 60px;}

.descripcion {
    font-size: 12px;
}

/* Encabezado */
header {
    
    text-align: center;
    padding-bottom: 20px;
}

img {
    max-width: 20%;
    height: auto;
  }

.nave {
    color:#333333; font-size: 15px;


}

header h1 {
    color: #51fd26 ;
}

header p {
    font-size: 1.2em;
    color: #333333;
}

/* Secciones */
section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #51fd26;
    padding-bottom: 5px;
    color: #51fd26;
}

/* Experiencia laboral */
.trabajo {
    margin-bottom: 15px;
}

/* Lista de habilidades */
.habilidades ul {
    list-style: none;
    padding: 0;
}

.habilidades li {
    background: #51fd26;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 5px 0 0;
}

/* Pie de página */
footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #51fd26;
    text-decoration: none;
}
