/*Nataly*/

body{background-color: rgb(151, 125, 175);}
h1,h3 {color:red;
    font-size:32px;
    line-height: 140%;
    text-decoration: underline;
    text-align: center;}

h2 {color:blue;}
h4 {color:aqua;}
h5 {color:rgb(130, 197, 255);}